
.bottom-navigation {
    height: 8vh;
    display: flex;
    justify-content: center;
    gap: 40px;
    background: #194F9C;
    padding: 1rem;
}
  
  .bottom-navigation button {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  
.icon{
    cursor: pointer;
    color: white;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}