.kidsView h2{
color: white;
font-size: 15px;
}

.suggestions{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    margin-top: 20px;
}

.thumbnail{
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 180px;
    gap: 10px;
}

.thumbnail img{
    border-radius: 10px;
}

.channel-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel-info img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

