.home h1{
font-size: 20px;
color: rgb(255, 255, 255);
margin-bottom: 20px;
}

.home{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.videos-list{
    display: flex;
    gap: 40px;
    justify-content: center;
}