.parentView{
    width: 100%;
}


/* Barra de búsqueda */
.search-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-section h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff73;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 10px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0px 10px;
    border-radius: 20px;
    background-color: transparent;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* Grid de resultados */
.results-grid {
    display: grid;
    grid-template-columns:  repeat(auto-fill, 200px);
    justify-content: space-e;
    gap: 30px;
    width: 100%;
}

/* Botón de Show More */
.show-more {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.show-more button {
    background-color: #FFDD0A;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    color: #0056FF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-more button:hover {
    background-color: #ffc400;
}

/* Sección de vídeos guardados */
.saved-section {
    margin-top: 40px;
    width: 100%;
}

.saved-section h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Vídeos individuales */
.video {
    position: relative;
}

/* Botón agregar/eliminar */
.video-action-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #1B5CFF;
    color: white;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.video-action-button:hover {
    background: #1748c2;
}
